.tabs a.active {
  font-weight: bold;
}
.tab-pane {
  display: none;
  transition: opacity 500ms linear;
}
.tab-pane.active {
  display: block;
  opacity: 1;
}
.tab-pane.transitioning {
  display: block;
  opacity: 0;
}
